CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: skyblue;
	background-image: url("../images/backgroundimage.jpg");
	/*background-image: linear-gradient(to right, blue, white);*/
	/*background-image: linear-gradient(to right, rgba(17,126,112,.75),rgba(0,88,255,0.45)), url("../images/backgroundimage.jpg"); - color on top of the background image or vice versa*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}
/*targets the element with the class name container*/
.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
/*end container*/

/* targets the html element h1 */
h1 {
	color: black; /*this changes the color of the h1 element*/
	/*background-color: rgba(255,255,255,0.2);*/ /*transparent*/
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 5px;
	border-radius: 10px;
	padding: 10px;
	font-family: 'Big Shoulders Text', cursive;
	margin-bottom: 15px;
}
/* end of h1 styling*/

/*start of h2 styling*/
h2 {
	color: black;
	/*background-color: rgba(51,51,51,0.5); /*off black*/
	/*background-color: rgba(255,255,255,0.2);*/
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;

}

/*end of h2 styling*/
/*targets the html element with the class attribute bio*/
.bio {
	font-size: 18px;
	line-height: 25px;
	/*background-color: rgba(51,51,51,0.5);*/
	background-color: rgba(255,255,255,0.2);
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	
}
/*end of bio*/
/*targets the html attribute id with a value "me"*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: indianred;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 0px;
}

/*end of me

/*start of h3 styling*/
h3 {
	color: black;
	/*background-color: rgba(51,51,51,0.5); /*off black*/
	/*background-color: rgba(255,255,255,0.2);*/
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	/*end of h3 styling*/